div.app-main-content {
    display: grid;
    grid-template-columns: [first] 65% [line2] 32.5% [end];
    column-gap: 2.5%;
    height: 100%;
}
div.app-actionable-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--color-medium-light);
    border: 2px solid var(--color-dark);
    border-radius: 3px;
    padding: 16px 32px;
}
div.app-mini-calendar {
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-dark);
    border-radius: 3px;
    padding: 16px 32px;
}
div.app-actionable {
    border: 2px solid var(--color-dark);
    border-radius: 3px;
    padding: 16px 32px;
    margin: 8px 0px;
    background-color: var(--color-light);
}
.app-actionable-to-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-actionable-to-do--left-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.app-actionable-to-do--left-group--header {
    display: flex;
    align-items: center;
    gap: 32px;
}
.app-actionable-to-do--right-group {
    display: grid;
    align-items: center;
}
.app-actionable-to-do--check-icon {
    width: 32px;
    height: 32px;
}
.app-actionable--flashcard-set {
    height: 150px;
    width: calc(100% - 66px);
}
.app-actionable-flashcard {
    position: absolute;
    margin: auto;
    height: 150px;
    width: 300px;
}
.app-actionable-flashcard>p {
    vertical-align: middle;
}
.app-actionable-flashcard--side {
    background-color: whitesmoke;
    border: 2px solid var(--color-dark);
    border-radius: 3px;

    padding: 12px;

    position: absolute;
    backface-visibility: hidden;

    height: calc(150px - 12px * 2);
    width: 300px;

    transition: transform 0.35s ease-out;
}
.app-actionable-flashcard--back {
    transform: rotateY(180deg);
}