/* The theme variables go here */
/* Only theme-management.js should have access to these! */

:root {
    --neutral-one: "#000000";
    --neutral-two: "#000000";
    --neutral-three: "#000000";
    --neutral-inverse-one: "#000000";
    --neutral-inverse-two: "#000000";
    --neutral-inverse-tbree: "#000000";
    --primary-one: "#000000";
    --primary-two: "#000000";
    --primary-three: "#000000";
}

/* tailwind-like classnames */

.bg-neutral-one {
    background-color: var(--neutral-one);
}

.bg-neutral-two {
    background-color: var(--neutral-two);
}

.bg-neutral-three {
    background-color: var(--neutral-three);
}

.text-neutral-one {
    color: var(--neutral-one);
}

.text-neutral-two {
    color: var(--neutral-two);
}

.text-neutral-three {
    color: var(--neutral-three);
}

.border-neutral-one {
    color: var(--neutral-one);
}

.border-neutral-two {
    border-color: var(--neutral-two);
}

.border-neutral-three {
    border-color: var(--neutral-three);
}

.bg-neutral-inverse-one {
    background-color: var(--neutral-inverse-one);
}

.bg-neutral-inverse-two {
    background-color: var(--neutral-inverse-two);
}

.bg-neutral-inverse-three {
    background-color: var(--neutral-inverse-three);
}

.text-neutral-inverse-one {
    color: var(--neutral-inverse-one);
}

.text-neutral-inverse-two {
    color: var(--neutral-inverse-two);
}

.text-neutral-inverse-three {
    color: var(--neutral-inverse-three);
}

.border-neutral-inverse-one {
    border-color: var(--neutral-inverse-one);
}

.border-neutral-inverse-two {
    border-color: var(--neutral-inverse-two);
}

.border-neutral-inverse-three {
    border-color: var(--neutral-inverse-three);
}

.text-neutral-one {
    color: var(--primary-one);
}

.text-neutral-two {
    color: var(--primary-one);
}

.text-neutral-three {
    color: var(--primary-three);
}

.border-primary-one {
    border-color: var(--primary-one);
}

.border-primary-two {
    border-color: var(--primary-two);
}

.border-primary-three {
    border-color: var(--primary-three);
}